[submodule "katas"]
	path = katas
	url = https://github.com/CamiloRuiiz/katas.git
  branch = master
[submodule "koans"]
	path = koans
	url = https://github.com/CamiloRuiiz/RubyKOANS.git
  branch = master
